/*aca declaramos*/

$color: #86d1ec;  
$margin: 50px;
$fondo: #90bce7!important;
/* grid 
$diplay: grid;
$grid-template-columns: 1fr 1fr;
$tablas: center;*/

/*aca heredamos*/

.pagina1
{
   color: $color;
}

.informacion
{
   margin: $margin;
}

.bg-light 
{
   background-color: $fondo;
}

/*historia*/
